div[class^='col'], div[class*=' col']{
    padding: 2px;
}

.container {
    max-width: 100%;
}

.input-group span {
    display: inline-block;
}

canvas {
    border: 1px black solid;
    max-width: 100%;
}
